h1 {font: italic 75%/125% "Comic Sans MS", cursive;}
h1 {font-size: 48px;
    text-align: center;
    background-color: #7289da;
}
p {
   color: black;
}
.text iframe {
    position: top;
    top: 150px;
    left: -475px;
    width: 320px;
    height: 500px;
}
.container img {
    height: 50%;
    padding: 25px 5px;
    display: table-cell;
    vertical-align: middle;
}
.rainbow {
  font-size:48px;
  -webkit-background-: text;
  color: white;
  -webkit-text-fill-color: transparent;
  background-color:#7289da;
  background-image: -webkit-gradient(linear,left top,right top,from(#ea8711), to(#d96363));
  background-image: -webkit-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
  background-image: -moz-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
  background-image: -ms-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
  background-image: -o-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
}

