body {
background-color: #000000 no-repeat;
background-size:90px 90px;background-position:50px 50px;cursor:pointer;border:solid red 1px;width:100px;height:100px;}
}
h1 {font: italic 75%/125% "Comic Sans MS", cursive;}
h1 {font-size: 24px;}
h1{
	text-align: center;
}
h1 {
    color: white;
}
p {
   color: black;
}
.text iframe {
    position: top;
    top: 150px;
    left: -475px;
    width: 320px;
    height: 500px;
}


